body {
    margin: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
}

article {
    width: 100px;
    height: 200px;
    background: grey;
    margin: 10px;
}